body{
  background-color: rgb(196, 196, 255);
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
th,
td {
  width: 200px;
  margin: auto 0px;
  background-color: rgb(247, 190, 190);
}

table {
  margin-bottom: 20px !important;
}

.active {
  border: 3px solid blue;
}
.full-width {
  width: 100%;
}
.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
}
.pull-right {
  margin-left: 50px;
}